.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: black;
}
.mobile {
    display: none;
}
.judul {
    flex: 1; 
    font-weight: bold;
    color: white;
    margin: 0.78%;
    font-size: 18pt
}
.menu {
    flex: 4; 
}
.menubar {
    list-style-type: none;
}
.menubar li {
    display: inline;
    margin: 5%;
    font-weight: bold;
    color: white;
    font-size: 18pt
}

@media (max-width: 500px){
    .navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        background: black;
    }
    .mobile {
        display: block;
        flex: 0; 
        font-weight: bold;
        color: white;
        margin: 1%;
        font-size: 18pt;
        cursor: pointer
    }
    .judul {
        flex: 3; 
        font-weight: bold;
        color: white;
        margin: 1%;
        font-size: 18pt;
        text-align: center;
    }
    .hidden {
        display: none;
    }
    .menu { 
        position: absolute;
        width: 96.8%;
        top: 45px; 
    }
    .menubar {
        list-style-type: none;
        background: rgb(90, 88, 88);
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin: 0
    }
    .menubar li { 
        display: block;
        margin: 5% 0 5% 0;
        font-weight: bold;
        color: white;
        font-size: 18pt;
        background: rgb(90, 88, 88);
    }
}
